body {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    font-family: sans-serif;
}

canvas {
    background-color: #000;
    border: 5px solid #333;
}
